body {
    color:white;
    background-color: #111926;
}
.form-control {
    background-color: #384454;
}
.container{
    background-color: #1f2937;
    max-width: 600px;
}
.list-group-item {
    background-color: #384454;
}
.btn{
    background-color: #18a44c;
    color: white;
    outline: none !important;
    box-shadow: none !important;
}
.chat-window {
    overflow-y:scroll;
    max-height: 500px;
}
.btn-focus{
    outline: none !important;
}
.username{
    font-weight: bold;
}
.time{
    font-size: 0.7em;
    color: white;
}
.update-mssg{
    text-align: center;
    margin: 20px auto;
}
p {
    font-size: 0.7em;
    color: white;
}
